# some files do not need to be persisted in version control, 
# but can be safely regenerated per codebase instance

# intelliJ local settings
.idea

# java build/bin/out directory
[Oo]ut
*.class

# cloud9 settings
.c9